
*{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    
    color: white;
    margin-bottom: 20px;
    
    
    
}


body {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculadora{
    background-color:gray ;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 400px;
    height: 300px;
    padding: 5px;
    border-radius: 5px;
    gap: 5px;
}

.pantalla{
    grid-column: 1 /-1;
    color: black;
    background-color: white;
    padding: 10px;
    font-size: 25px;
    border-radius: 5px;
    border-color: black;
    gap: 5px;

}

.btn{
    background-color: white  ;
    border-radius: 5px;
    padding: 5px;
}

.btn:hover{
    background-color: lightgrey;

}

#c{
    background-color: lightcoral;
}